@import"config";
@import"tipografia";
@import"wrapper";



* {
    margin: 0;
    box-sizing: border-box;
    
}

html {
  font-size: $font-size;
}

 body {
   font-family: 'Inter', sans-serif;
  }

a {
    text-decoration: none;
  }
  
  button {
    border: none;
    outline: none;
  }

 

  img {
display: block;
max-width: 100%;
  }

  .container {
    padding: $padding-container-mobile;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

  }

  .section__title {
    font-size: 3rem;
    color:$Very-dark-blue;
    margin: 1rem 0;

  }

  .section__text {
    @extend %text;
    margin: 1rem 0;
  }

  .btn__section {
    color: $Off-white;
    background-color: $Soft-red;
    padding: 1rem 2.5rem;
    margin: 1rem 0;
  }

  .aside__info {
    @extend %container;
    display: grid;
    row-gap: 1rem;
    background-color: $Very-dark-blue;
    margin: 2rem 0;
  }
.aside__box {
  border-bottom: $Off-white solid .1rem;
}
  .info__title {
    @extend %title;
    color: $Soft-orange;
  }

  .info__sub-title {
    @extend %sub-title;
    color: $Off-white;
  }

  .info__text {
    @extend %text;
    margin-bottom: 2rem;
  }

